<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../styles/formulario.css">
</head>
<body>
<div class="form">
    <h2>
        Cadastro de Paciente
    </h2>
    <form class="login-form" action="http://localhost:8080/api/formulario/instituicao" method="POST">
        <input type="text" name="nomeCompleto" placeholder="Nome Completo"/>
        <input type="date" name="dataNascimento" placeholder="Data de nascimento">
        <input type="text" name="rg" placeholder="RG"/>
        <input type="text" name="cpf" placeholder="CPF">
        <input type="tel" name="telefone" placeholder="Telefone">
        <input type="email" name="email" placeholder="Email">
        <a href="../templates/agendador.html" class="custom-button">Cadastrar</a>
        <p class="message">Já possui uma conta? <a href="../templates/login.html">Faça login</a></p>
    </form>
</div>
</body>
</html>